<html>
  <head>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap.js"></script>
    <script src="script.js"></script>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body ng-app="app">

    <h1>AngularJS Getting Started</h1>

    <h3>Expressions</h3>

    <div id="twoAndTwo">2 + 2 = {{ 2 + 2 }}</div>
    <div id="ninjaAndSquad">ninja + squad = {{ 'ninja' + 'squad' }}</div>


    <h3>Binding</h3>

    <div class="row">
      <div class="col-sm-12">
        <label>Name</label>
        <input ng-model="name" placeholder="Enter name...">
        <div ng-show="name">Hello {{ name }}!</div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <label>Name</label>
        <input ng-model="person.name" placeholder="Enter person's name...">
      </div>
      <div class="col-sm-3">
        <label>Age</label>
        <input ng-model="person.age" placeholder="Enter person's age...">
      </div>
      <div ng-show="person.name" class="col-sm-12">Congratulations {{ person.name }}, you are {{ person.age }}!</div>
    </div>

    <h3>Controller</h3>
    <div ng-controller="FormController">
      <div class="alert alert-danger" role="alert" ng-show="formctrl.message">{{formctrl.message}}</div>
      <label>Name</label>
      <input ng-model="formctrl.name" placeholder="Enter person's name...">
      <label>Age</label>
      <input ng-model="formctrl.age" placeholder="Enter person's age...">
      <button class="btn btn-danger" ng-click="submit()">Submit parent!</button>

      <div ng-controller="NestedController">
        <button class="btn btn-danger" ng-click="submit()">Submit child!</button>
      </div>
    </div>

  </body>
</html>
