<div>

  <div class="jumbotron text-center">
    <h1>Poneyracer</h1>
    <p class="lead">
      <img src="assets/images/poneys.gif" alt="I'm a beautiful poney" style="height: 200px"><br>
      Always a pleasure to bet on poneys.
    </p>
    <p>
      <div ng-if="!isLogged()">
        <a class="btn btn-lg btn-danger" ng-href="#register">Register!</a>
        <a class="btn btn-lg btn-success" ng-href="#login">Login</a>
      </div>
      <div ng-if="isLogged()">
        <a class="btn btn-lg btn-danger" ng-href="#races">Go to races!</a>
        <a class="btn btn-lg btn-success" ng-click="logout()">Logout</a>
      </div>
    </p>
  </div>

  <div class="container">
    <h2>Registered users</h2>
    <table class="table-bordered table-condensed">
      <tr>
        <th>Login</th>
        <th>Password</th>
        <th>Firstname</th>
        <th>Lastname</th>
      </tr>
      <tr ng-repeat="user in users | orderBy: 'login'">
        <td>{{ user.login }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
      </tr>
    </table>
  </div>

  <hr>

  <div class="footer">
    <p>With ♥ from <a href="https://twitter.com/NinjaSquad">Ninja Squad</a></p>
  </div>

</div>
