<div class="container page-header">
  <span class="h1">{{ race.name }} Live!</span>
  <span class="label label-primary" ng-if="race.status == 'READY'">Ready</span>
  <span class="label label-warning" ng-if="race.status == 'STARTED'">Started</span>
  <span class="label label-danger" ng-if="race.status == 'FINISHED'">Finished</span>
</div>

<div class="container">
  <div style="padding-bottom: 15px;">
    <a class="btn btn-danger" ng-href="#races/{{raceId}}">&laquo; Back to race details</a>
  </div>
</div>

<div class="col-xs-12">
  <div ng-repeat="p in positions track by p.poney">
    <div ng-style="{'margin-left' : p.position*10 + 'px', 'transition' : 'all linear 1s'}">
      <poney name="{{ p.poney }}" betted="p.poney == race.bettedPoney" leader="firstPoneys.indexOf(p.poney) > -1" />
    </div>
  </div>
</div>
