<div class="container page-header">
  <span class="h1">{{ race.name }}</span>
  <span class="label label-primary" ng-if="race.status == 'READY'">Ready</span>
  <span class="label label-warning" ng-if="race.status == 'STARTED'">Started</span>
  <span class="label label-success" ng-if="race.status == 'FINISHED'">Finished</span>
</div>

<div class="container">
  <div style="padding-bottom: 15px;">
    <a class="btn btn-danger" ng-href="#races">&laquo; Back to races</a>
  </div>

  <div class="col-xs-12">
    <div ng-repeat="p in race.poneys">
      <button class="btn btn-primary" ng-click="bet(p)" ng-if="p != race.bettedPoney">Bet on {{p}}!</button>
      <button class="btn btn-danger" ng-click="cancelBet()" ng-if="p == race.bettedPoney">Cancel bet</button>
      <poney name="{{ p }}" betted="p == race.bettedPoney" />
    </div>
  </div>
</div>
