<div class="container h1 page-header">Races</div>

<div class="container">
  <div class="btn-group" style="padding-bottom: 15px;">
    <label class="btn btn-default">
      <input type="radio" id="all" name="all" value="" ng-model="search.status" /> ALL
    </label>
    <label class="btn btn-default">
      <input type="radio" id="ready" name="ready" value="READY" ng-model="search.status" /> Ready
    </label>
    <label class="btn btn-default">
      <input type="radio" id="started" name="started" value="STARTED" ng-model="search.status" /> Started
    </label>
    <label class="btn btn-default">
      <input type="radio" id="finished" name="finished" value="FINISHED" ng-model="search.status" /> Finished
    </label>
  </div>

  <table class="table-bordered table-condensed">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Status</th>
      <th></th>
    </tr>
    <tr ng-repeat="race in races | orderBy: 'id' | filter:search">
      <td>{{ race.id }}</td>
      <td>{{ race.name }}</td>
      <td>
        <span class="label label-primary" ng-if="race.status == 'READY'">Ready</span>
        <span class="label label-warning" ng-if="race.status == 'STARTED'">Started</span>
        <span class="label label-danger" ng-if="race.status == 'FINISHED'">Finished</span>
      </td>
      <td>
        <a ng-href="#races/{{race.id}}">Details</a>
      </td>
    </tr>
  </table>
</div>
